body {
  margin: 0;
}

.header-wrapper {
  width: 100vw;
}
.header-wrapper .header {
  display: flex;
  background-color: #9a4e4a;
  padding: 30px 10%;
}

.header-wrapper .header .nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  background: #f0f0f0;
  height: 100%;
}

.header-wrapper {
  width: 100%;
}
.header-wrapper .header {
  display: flex;
  background-color: #9a4e4a;
  padding: 10px 10%;
  padding-left: 0;
}

.header-wrapper .header .nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
}

.nav-item {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 3rem;
  position: relative;
  display: inline-block;
  display: flex;
  color: black;
  border: 2px solid black;
  border-radius: 10rem;
}

.footer-wrapper p{
  background-color: rgba(120, 120, 120, .5);
  line-height: 3;
  text-align: center;
  height: 100%;
  min-height: 100%;
  bottom: 0;
  width: 100%;
}

.propiedades div {
  border: 1px solid black;
}

.propiedades div h1 {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  

}

.propiedades div p {
  color: green;
  font-size: 30px;
  text-align: right;
  
}

h2 {
  text-align: center;
  color: red;
}

.header-logo {
  left: 0;

}
a{
  text-decoration: none;
}